:root {
  --primary-text-color: #212121;
  --titel-text-color: #757575;
  --accent-color: #2196f3;
  --wight-color: #ffffff;
  --background-color: #f5f4fa;
  --hover-button: #188ce8;
  --cards-portfolio: #eeeeee;
}

ul {
  list-style: none;
}
.list {
  text-decoration: none;
}
.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.page-header {
  background-color: var(--wight-color);
}
/* Logo */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-name {
  color: #000000;
}
/* Navi */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.site-nav {
  margin: 0;
  padding: 0;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .list.current {
  color: var(--accent-color);
}
/* Contacts */
.contacts-list .list-header {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-list .list-header:hover {
  color: var(--accent-color);
}
.contacts-list {
  margin: 0;
  padding: 0;
}
/* Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-titel {
  color: var(--wight-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: tomato;
}
/* Section-titel */
.section-titel {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* Benefits-list */
.benefits-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.benefits {
  color: var(--titel-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0px;
}
.benefits-list {
  margin: 94px 0 0 0;
  padding: 0;
}
/* Чем мы занимаемся */
.examples {
  margin: 0;
  padding: 0;
}
/* Наша команда */
.section-team {
  background-color: #f5f4fa;
  margin: 0;
}
.team {
  margin: 0;
  padding: 0;
}
.name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}
.position {
  color: var(--titel-text-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button);
}
.footer {
  background-color: #2f303a;
}
address {
  font-style: normal;
}
.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--wight-color);
  text-decoration: none;
}

.logo-name-footer {
  color: var(--wight-color);
}
.contacts-list .list {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.contacts-list .list:hover {
  color: var(--accent-color);
}

.portfolio-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover-button);
  color: var(--wight-color);
}
.button-filter {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.card-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card-type p {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}

/* Отступы 1-я страница */
.container {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  width: 1200px;
}

/* подвал */
