/* Основной цвет текста  #212121 */
/* Вторичный цвет текста #757575 */
/* белый background: #FFFFFF;*/
/* Акцент #2196F3 */

.list {
  list-style: none;
}

.page {
  color: #212121;
  background-color: #e5e5e5;
}
/* Logo */
.logo {
  color: #2196f3;
  text-decoration: none;
}
.logo-name {
  color: #000000;
}
/* Navi */
.site-nav a {
  color: #212121;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}
/* Hero */
.hero-titel {
  color: #ffffff;
}
/* Section-titel */
.section-titel {
  color: #212121;
}
