.nav {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 278px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav__button .icon-cross {
  display: none;
}
.nav__button.is-open .icon-cross {
  display: block;
}
.nav__button.is-open .icon-menu {
  display: none;
}
.nav__container {
  // display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
  }
}
.site-nav__item {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.site-nav__link {
  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.current {
  @media screen and (min-width: 768px) {
    color: var(--accent-color);
  }
}
