.label__titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin: 0 0 4px 0;
}
.label__direction {
  margin: 0;
  color: #757575;
}

.label {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-right: 1px solid#EEEEEE;
  border-bottom: 1px solid#EEEEEE;
  border-left: 1px solid#EEEEEE;
}

.card__inform {
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.card__poster {
  text-decoration: none;
  transition: box-shadow 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__poster:hover,
.card__poster:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__header {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio__filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin-right: 0;
  padding: 0px;
}
.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.card__type {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__inform {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  transition: transform 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 63px 24px;
}

.card__poster:hover .card__inform {
  transform: translateY(0%);
}

.card__poster:focus .card__inform {
  transform: translateY(0%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__type:nth-child(3n) {
  margin-right: 0;
}
.card__type:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-network {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.card__poster {
  display: block;
}
