.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2250ms, visibility 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 2250ms, scale 2250ms, box-shadow 7250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 9px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-close {
  width: 11px;
  height: 11px;
}

.close:hover > .button-close,
.close:focus > .button-close {
  fill: #188ce8;
  transition: fill 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
