.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)),
    url('../images/hero.jpg');
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__titel {
  color: var(--wight-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
/* ___________________benefits__________________ */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__titel {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.benefits__item {
  width: 270px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__item::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.details::before {
  background-image: url(../images/antenna.svg);
}
.punctuality::before {
  background-image: url(../images/clock.svg);
}

.planning::before {
  background-image: url(../images/diagram.svg);
}
.technology::before {
  background-image: url(../images/astronaut.svg);
}
.benefits__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.benefits__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}
